[submodule "map-service"]
	path = map-service
	url = git@github.com:eduard-balamatiuc/faf-pad-map-service.git

[submodule "lobby-service"]
	path = lobby-service
	url = git@github.com:eduard-balamatiuc/faf-pad-lobby-service.git
[submodule "journal-service"]
	path = journal-service
	url = https://github.com/Ghenntoggy1/PAD-Journal-Service.git
